md-content.md-default-theme {
  background-color: #eee;
}
.md-tile-left {
  margin-right: 0px!important;
}
md-card {
  background-color: #fff;
  margin-top: 100px!important;
}
md-card h2:first-of-type {
  margin-top: 0;
}
md-toolbar{
  position: fixed!important;
}
md-toolbar .md-button.md-default-theme {
  border-radius: 99%;
}

h2 {
  font-weight: 400;
}

.md-toolbar-tools-bottom {
  font-size: small;
}
.md-toolbar-tools-bottom :last-child {
  opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}

md-sidenav {
  fill: #737373;
}
md-sidenav ng-md-icon {
  position: relative;
  top: 5px;
}

.user-avatar {
  border-radius: 99%;
}

.inset{
  padding-top: :100px!important;
}
/* Put your css in here */
md-divider{
margin-top: 20px!important;
}
img {
  float:left;
	width: 100px;
	height: 100px;
	border-radius: 50px;
  background-size:100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
  background-image: url("http://static-cdn.jtvnw.net/jtv_user_pictures/xarth/404_user_150x150.png");
  border: none;
  margin-right: 15px;
	}

  a {
  	color: #888;
  	text-decoration: none;
  }
  .user{
    padding-bottom: 10px;
  }
  .md-button{
  }
  .md-button.md-default-theme.user {
    width: 600px;
    border-radius: 55px;
  }
  .caption{
    padding-top: 40px;
  }
  .bio{
    font-size: .1rem;
  width: 452px;
  -o-text-overflow: ellipsis;   /* Opera */
  text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
  text-overflow:hidden;              /* don't show excess chars */
  white-space:nowrap;           /* force single line */
  text-align: -webkit-left;
  overflow: hidden;
  margin: 0;
      }
  md-item-content{
    padding: 10 10;
  }
